#container {
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
}

#title {
  font-size: 40px;
  color: orange;
}

#content {
  font-size: 21px;
  color: orange;
}

.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}

#sun {
  background-image: url(./images/sun.png);
}

#background {
  background-image: url(./images/background.webp);
}

#mountain3 {
  background-image: url(./images/mountain3.webp);
}

#mountain2 {
  background-image: url(./images/mountain2.webp);
}

#mountain1 {
  background-image: url(./images/mountain1.webp);
}

#cloud {
  background-image: url(./images/cloud.png);
  padding-left: 2000px;
  opacity: 0.5;
}

#black_background {
  background-color: black;
}

#blue_background {
  background-color: blue;
}

#red_background {
  background-color: red;
}

#green_background {
  background-color: green;
}

#yellow_background {
  background-color: yellow;
}

#moon {
  padding-left: 10%;
}
#satellite {
  padding-left: 90%;
}
#rocket {
  padding-left: 90%;
}
#astronaut {
  padding-left: 10%;
}